<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>CacheManager</title>
    <base href="{1}" />
    <link rel="shortcut icon" href="./content/img/favicon.ico">
    <link rel="stylesheet" href="./bundles/combined.min.css?v={2}">
</head>
<body>
    <!--switch to .tt?-->
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="./"><span class="fa fa-lg fa-cubes"></span> CacheManager</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        {0}<!--@RenderBody()-->
    </div>
    <div id="copyright">
        <p>Copyright &copy; <span data-bind="text: CM.CopyrightYear()">2014</span> TacklR</p>
    </div>
    <span id="fork-me"><a href="https://github.com/Tacklr/CacheManager" target="_blank">Fork me on GitHub</a></span>
    <script src="./bundles/combined.min.js?v={2}"></script>
</body>
</html>
