<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-lg fa-gears"></span> Settings</h3>
            </div>
            <div class="panel-body">

                <!--explicit rows?-->
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon cursor-default">Delimiter</span>
                        <input type="text" class="form-control" id="Delimiter" name="Delimiter" placeholder="Delimiter" data-bind="value: Delimiter, event: { keyup: CM.EnterDelimiter }"><!--data-binding="Delimiter"--><!-- maxlength="1"-->
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-bind="click: CM.SetDelimiter">Set</button>
                        </span>
                    </div>
                </div>
                <div class="checkbox">
                    <label class="checkbox-inline no-indent">
                        <input type="checkbox" data-bind="checked: ConfirmDeleteKey"> Confirm delete key
                    </label>
                    <label class="checkbox-inline no-indent">
                        <input type="checkbox" data-bind="checked: ConfirmDeletePrefix"> Confirm delete prefix
                    </label>
                    <label class="checkbox-inline no-indent">
                        <input type="checkbox" data-bind="checked: ExpandSingleBranches"> Expand single branches
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-3 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-lg fa-bar-chart"></span> Cache Stats</h3>
            </div>
            <table class="table table-bordered table-condensed">
                <tr>
                    <th class="col-fit text-right">Server Name</th>
                    <td data-bind="text: ServerName"></td>
                </tr>
                <tr>
                    <th class="col-fit text-right">Free Memory</th>
                    <td data-bind="text: FreeMemory"></td>
                </tr>
                <tr>
                    <th class="col-fit text-right">App Path</th>
                    <td data-bind="text: AppPath"></td><!-- What if this is long? -->
                </tr>
                <tr>
                    <th class="col-fit text-right">Cache Entries</th>
                    <td data-bind="text: ob_Entries().length"></td><!--show difference between reported/counted (Count)?-->
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 panel-expand">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-lg fa-sitemap"></span> Cache Detail</h3>
                <button type="button" class="btn btn-sm btn-default btn-panel-heading" data-bind="click: CM.Refresh"><span class="fa fa-lg fa-refresh"></span> Refresh</button>
            </div>
            <div class="panel-body">
                <div class="css-treeview no-wrap" data-bind="template: { name: 'CacheTreeTemplate', data: ob_EntryTree(), afterRender: CM.AfterRenderCacheTree }"></div><!--TODO: Show "none" indicator if there are no cache items-->
                <div class="refresh-loading hidden"></div>
            </div>
        </div>
    </div>
</div>
<div class="content-loading"></div>
<div id="modal-container" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modal-title" data-bind="stopBinding: true">
    <div class="modal-dialog">
        <div class="modal-content" data-bind="template: { name: Template }"></div>
    </div>
</div>