<div class="row">
    <div class="col-sm-offset-8 col-sm-4 col-md-offset-9 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-lg fa-bar-chart"></span> Cache Stats</h3>
            </div>
            <table class="table table-bordered table-condensed">
                <!--<tr>
                    <th class="col-fit text-right">Server Name</th>
                    <td data-bind="text: ServerName"></td>
                </tr>-->
                <tr>
                    <th class="col-fit text-right">Free Memory (MB)</th>
                    <td data-bind="text: MemoryFree"></td>
                </tr>
                <tr>
                    <th class="col-fit text-right">Cache Limit (MB)</th>
                    <td data-bind="text: MemoryLimit"></td>
                </tr>
                <tr>
                    <th class="col-fit text-right">Cache Limit (%)</th>
                    <td data-bind="text: MemoryLimitPercent"></td>
                </tr>
                <!--<tr>
                    <th class="col-fit text-right">App Path</th>
                    <td data-bind="text: AppPath"></td><!-- What if this is long? -- >
                </tr>-->
                <tr>
                    <th class="col-fit text-right">Cache Entries</th>
                    <td data-bind="text: ob_Entries().length"></td><!--show difference between reported/counted (Count)?-->
                </tr>
            </table>



        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 _panel-expand">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-lg fa-sitemap"></span> Cache Detail</h3>
                <button type="button" class="btn btn-sm btn-default btn-panel-heading" data-bind="click: CM.Refresh"><span class="fa fa-lg fa-refresh"></span> Refresh</button>
            </div>
            <div class="panel-body">

                <div class="css-treeview no-wrap tree-view" data-bind="template: { name: 'CacheTreeTemplate', data: ob_EntryTree(), afterRender: CM.AfterRenderDetailView }"></div><!--TODO: Show "none" indicator if there are no cache items-->

                <!--<div class="table-responsive">
                    <table class="table table-bordered table-condensed table-view">
                        <thead>
                            <tr>
                                <th style="width: 1px;"></th>
                                <th>Key</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody data-bind="template: { name: 'CacheListTemplate', foreach: ob_Entries(), afterRender: CM.AfterRenderDetailView }"></tbody>
                    </table>
                </div>-->

                <div class="refresh-loading hidden"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!--different column widths?-->
    <div class="col-sm-offset-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-lg fa-gears"></span> Settings</h3>
            </div>
            <div class="panel-body">

                <!--explicit rows?-->
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon cursor-default">Delimiter</span>
                        <input type="text" class="form-control" id="Delimiter" name="Delimiter" placeholder="Delimiter" data-bind="value: Delimiter, event: { keyup: CM.EnterDelimiter }"><!--data-binding="Delimiter"--><!-- maxlength="1"-->
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-bind="click: CM.SetDelimiter">Set</button>
                        </span>
                    </div>
                </div>

                <label class="checkbox-inline no-indent">
                    <input type="checkbox" data-bind="checked: ConfirmDeleteKey"> Confirm delete key
                </label>
                <label class="checkbox-inline no-indent">
                    <input type="checkbox" data-bind="checked: ConfirmDeletePrefix"> Confirm delete prefix
                </label>
                <label class="checkbox-inline no-indent">
                    <input type="checkbox" data-bind="checked: ExpandSingleBranches"> Expand single branches
                </label>

                <!--<label class="radio-inline no-indent">
                    <input type="radio" name="DetailView" value="tree" data-bind="checked: ob_DetailView"> Tree View
                </label>
                <label class="radio-inline no-indent">
                    <input type="radio" name="DetailView" value="list" data-bind="checked: ob_DetailView"> List View
                </label>-->

            </div>
        </div>
    </div>
</div>

<!--put this into layout?-->
<div id="modal-container" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modal-title" data-bind="stopBinding: true">
    <div class="modal-dialog">
        <div class="modal-content" data-bind="template: { name: Template }"></div>
    </div>
</div>

<div class="content-loading"></div>
<noscript><div class="content-javascript"></div></noscript>
