<div class="row">


    <div class="col-sm-3 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-lg fa-power-off"></span> Actions</h3>
            </div>
            <div class="panel-body">
                <div class="space-btns">
                    <button type="button" class="btn btn-block btn-danger" data-bind="click: CM.ClearCache"><span class="fa fa-lg fa-trash-o"></span> Clear Cache</button>
                    <button type="button" class="btn btn-block btn-warning" data-bind="click: CM.PageCache"><span class="fa fa-lg fa-trash-o"></span> Page Cache</button>
                </div>
            </div>
        </div>
    </div>




    <div class="col-sm-offset-5 col-sm-4 col-md-offset-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-lg fa-bar-chart"></span> Stats</h3>
            </div>
            <table class="table table-bordered table-condensed">
                <tr>
                    <th class="col-fit text-right">Free Memory (MB)</th>
                    <td data-bind="text: MemoryFree"></td>
                </tr>
                <tr>
                    <th class="col-fit text-right">Cache Limit (MB)</th>
                    <td data-bind="text: MemoryLimit"></td>
                </tr>
                <tr>
                    <th class="col-fit text-right">Cache Limit (%)</th>
                    <td data-bind="text: MemoryLimitPercent"></td>
                </tr>
                <tr>
                    <th class="col-fit text-right">Cache Entries</th>
                    <td>
                        <span data-bind="text: ob_Entries().length">0</span> (of <span data-bind="text: ob_Count()">0</span>)
                    </td><!--show difference between reported/counted (Count)? should we just refresh stats when we delete?-->
                </tr>
            </table>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-12">

        <div class="panel-group" id="detail-view">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-lg fa-sitemap"></span> Tree</h3>
                    <span class="btn-group btn-group-panel-heading">
                        <button type="button" class="btn btn-sm btn-default btn-collapse collapsed" data-toggle="collapse" data-parent="#detail-view" data-target="#collapse-tree" data-bind="css: { collapsed: DetailView !== 'Tree' }"></button>
                        <button type="button" class="btn btn-sm btn-default btn-refresh" disabled><span class="fa fa-lg fa-refresh"></span> Refresh</button><!--fake 'disabled' button so we can show/hide with pure css, not sure it's worth it-->
                        <button type="button" class="btn btn-sm btn-default btn-refresh" data-bind="click: CM.Refresh"><span class="fa fa-lg fa-refresh"></span> Refresh</button>
                    </span>
                </div>
                <div id="collapse-tree" class="panel-collapse collapse" data-bind="css: { in: DetailView === 'Tree' }">
                    <div class="panel-body">
                        <div class="css-treeview no-wrap tree-view" data-bind="template: { name: 'CacheTreeTemplate', data: ob_EntryTree(), afterRender: CM.AfterRenderDetailView }"></div>
                        <div class="text-center" data-bind="visible: ob_EntryTree().isEmpty()"><strong class="text-muted">There are no cache entries loaded or the cache is empty.</strong></div><!--refresh button?-->
                        <div class="refresh-loading hidden"></div>
                    </div>
                </div>
            </div>
            <!--<div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-lg fa-list"></span> Cache List</h3><!--call it table?-- >
                    <span class="btn-group btn-group-panel-heading">
                        <button type="button" class="btn btn-sm btn-default btn-collapse collapsed" data-toggle="collapse" data-parent="#detail-view" data-target="#collapseTwo"></button>
                        <button type="button" class="btn btn-sm btn-default" data-bind="click: CM.Refresh"><span class="fa fa-lg fa-refresh"></span> Refresh</button>
                    </span>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse table-responsive">
                    <table class="table table-bordered table-condensed table-view">
                        <thead>
                            <tr>
                                <th style="width: 1px;"></th>
                                <th>Key</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody data-bind="template: { name: 'CacheListTemplate', foreach: ob_Entries(), afterRender: CM.AfterRenderDetailView }"></tbody>
                    </table>
                    <div class="refresh-loading hidden"></div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<div class="row">
    <!--different column widths?-->
    <div class="col-sm-offset-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-lg fa-gears"></span> Settings</h3>
            </div>
            <div class="panel-body">

                <!--explicit rows?-->
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon cursor-default">Delimiter</span>
                        <input type="text" class="form-control" id="Delimiter" name="Delimiter" placeholder="Delimiter" data-bind="value: Delimiter, event: { keyup: CM.EnterDelimiter }"><!--bind on ob_Delimiter instead?-->
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-bind="click: CM.SetDelimiter">Set</button>
                        </span>
                    </div>
                </div>

                <label class="checkbox-inline no-indent">
                    <input type="checkbox" data-bind="checked: ConfirmDeleteKey"> Confirm delete key
                </label>
                <label class="checkbox-inline no-indent">
                    <input type="checkbox" data-bind="checked: ConfirmDeletePrefix"> Confirm delete prefix
                </label>
                <label class="checkbox-inline no-indent">
                    <input type="checkbox" data-bind="checked: ExpandSingleBranches"> Expand single branches
                </label>
            </div>
        </div>
    </div>
</div>

<div class="content-loading"></div>
<noscript><div class="content-javascript"></div></noscript>